<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/workouts/new">Add Exercise</a></li>
            <li><a href="/workouts/">View Exercises</a></li>
        </ul>
    </nav>
</body>
</html>