ul {
    list-style-type: none;
}

/* https://stackoverflow.com/questions/8188060/how-to-make-link-not-change-color-after-visited */
button a {
    text-decoration: none;
}
button a:link, button a:visited {
    color: white;
}

.intro {
    margin-top: 5%
}

.intro h1 {
    text-align: center;
}

.intro h3 {
    text-align: center;
}

.button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}