<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise List</title>
</head>
<body>
    <h1>Your Workout List</h1>
    
        <ul>
            <% exercises.forEach((item, index) => { %>
                <li style="margin-left: 20px;">
                    <a href="/workouts/<%= index %>">
                        <%= item.name %>
                    </a>
                </li>   
            <% }) %> 
        </ul>
</body>
</html>